<a href="https://colab.research.google.com/github/jtsui23-code/Jtsui23-code-DataScience-2025/blob/main/Completed/04-Loops_and_Iteration/01-For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìò 01 - For Loops

Learn how to use `for` loops to iterate over sequences.

## ‚úÖ Learning Goals
- Use `for` with lists, strings, and `range()`
- Understand loop variables and block structure

In [1]:
# üîÅ Loop over a list
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [2]:
# üîÅ Loop over characters in a string
word = 'hello'
for char in word:
    print(char)

h
e
l
l
o

In [3]:
# üîÅ Using range()
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
# ‚ûï Loop with math
for i in range(1, 6):
    print(f'{i} squared is', i ** 2)

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

### ‚úèÔ∏è Your Turn
Loop over a list of 3 favorite movies and print them in all caps.

In [5]:
movies = ['Parasite', 'Silient Voice', 'The Batman']
for movie in movies:
  print(movie.upper())

PARASITE
SILIENT VOICE
THE BATMAN