<a href="https://colab.research.google.com/github/jtsui23-code/Jtsui23-code-DataScience-2025/blob/main/Completed/06-Working_with_Data_Adv/02-pandas_series_and_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üêº Notebook 02: Pandas Series and DataFrames

Congratulations. You've graduated from lists and dictionaries ‚Äî it‚Äôs time to wield a more powerful tool: **Pandas**.

This notebook introduces you to the two most essential data structures in data science:

- `Series`: a one-dimensional labeled array (like a dictionary and list had a well-organized child)
- `DataFrame`: a two-dimensional table with labeled axes (basically Excel‚Äôs smarter cousin)

---

In [ ]:
import pandas as pd

## üî¢ Series from a List
Simple but powerful ‚Äî labels give it superpowers.

In [28]:
# A Series from a list ‚Äî just like a list, but fancier and labeled
import pandas as pd

prices = pd.Series([2.99, 4.49, 1.99,1.89], index=["Apple", "Milk", "Bread", "Bellpeper"])
print("Grocery Prices:")
print(prices)

# Accessing elements like a dictionary
print("\nPrice of Milk:", prices["Milk"])

Grocery Prices:
Apple        2.99
Milk         4.49
Bread        1.99
Bellpeper    1.89
dtype: float64

Price of Milk: 4.49

## üó∫Ô∏è Series from a Dictionary
Keys become the index ‚Äî pretty intuitive, right?

In [3]:
population = {
    "Texas": 29_000_000,
    "California": 39_000_000,
    "New York": 19_000_000
}

state_pop = pd.Series(population)
print("State Populations:")
print(state_pop)

# Series support math!
print("\nPopulation in millions:")
print(state_pop / 1_000_000)

State Populations:
Texas         29000000
California    39000000
New York      19000000
dtype: int64

Population in millions:
Texas         29.0
California    39.0
New York      19.0
dtype: float64

## üìã Creating a DataFrame
Like a spreadsheet, but you control the universe.

In [4]:
# Creating a DataFrame ‚Äî the bread and butter of Pandas
data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana"],
    "GPA": [3.9, 2.7, 3.4, 3.8],
    "Credits": [90, 45, 60, 120],
    "Graduating": [False, False, False, True]
}

students = pd.DataFrame(data)
print("Student DataFrame:")
print(students)

Student DataFrame:
      Name  GPA  Credits  Graduating
0    Alice  3.9       90       False
1      Bob  2.7       45       False
2  Charlie  3.4       60       False
3    Diana  3.8      120        True

## üéØ Column Access + Row Access

In [42]:
# Access a column
print("\nGPA column:")
print(students["GPA"])

# Access a row
print("\nCharlie's record:")
print(students.loc[2])

GPA column:
0    3.9
1    2.7
2    3.4
3    3.8
Name: GPA, dtype: float64

Charlie's record:
Name             Charlie
GPA                  3.4
Credits               60
Is_Graduating      False
Name: 2, dtype: object

## üß™ Inspect the DataFrame

In [34]:
# Shape and structure
print("\nShape:", students.shape)
print("\nColumns:", students.columns.tolist())

# Info dump
print("\nDataFrame Info:")
print(students.info())

# Stats summary
print("\nDataFrame Summary Stats:")
print(students.describe())

Shape: (4, 4)

Columns: ['Name', 'GPA', 'Credits', 'Is_Graduating']

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           4 non-null      object
 1   GPA            4 non-null      float64
 2   Credits        4 non-null      int64
 3   Is_Graduating  4 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 232.0+ bytes
None

DataFrame Summary Stats:
            GPA     Credits
count  4.000000    4.000000
mean   3.450000   78.750000
std    0.544671   33.260337
min    2.700000   45.000000
25%    3.225000   56.250000
50%    3.600000   75.000000
75%    3.825000   97.500000
max    3.900000  120.000000

## üßº Rename a Column

In [24]:
students.rename(columns={"Graduating": "Is_Graduating"}, inplace=True)
print("\nRenamed column:")
print(students.head())

Renamed column:
      Name  GPA  Credits  Is_Graduating
0    Alice  3.9       90          False
1      Bob  2.7       45          False
2  Charlie  3.4       60          False
3    Diana  3.8      120           True

---
## üîç Your Turn

1. Create a `Series` from a dictionary of state abbreviations to population (use fake or real data).
2. Create a `DataFrame` for 5 students with columns: `Name`, `GPA`, `Credits`, `Graduating` (True/False).
3. Try accessing a row using `.loc[]` and a column using bracket notation.
4. Print the `.shape`, `.columns`, and `.info()` of your DataFrame.

üéØ Bonus: Rename a column just to mess with the future grader.

In [40]:
# Your data science destiny begins here.
import pandas as pd

country= {"Japan":124,"Nepal":29.65, "Switzerland":9.034, "Vietnam":101}
table = pd.Series(country)
print("Population of a country in millions:")
print(table)

Population of a country in millions:
Japan          124.000
Nepal           29.650
Switzerland      9.034
Vietnam        101.000
dtype: float64

In [53]:
import pandas as pd
std= {"Name":["Jack","Zack","Zach","Jax","Zak"],
      "GPA": [2.06, 3.27, 3.09, 4.00, 2.12],
      "Credits": [60, 66, 67, 68, 69],
      "Graduating": [False, False, False, False, False]
      }
std_table=pd.DataFrame(std)
print("List of Students:")
print(std_table)
print("\n")
print(std_table.loc[2])
print(std_table.shape)
print(std_table.columns)
print(std_table.info)
std_table.rename(columns={"Name": "Students"}, inplace=True)
print("\n Renamed table")
print(std_table)

List of Students:
   Name   GPA  Credits  Graduating
0  Jack  2.06       60       False
1  Zack  3.27       66       False
2  Zach  3.09       67       False
3   Jax  4.00       68       False
4   Zak  2.12       69       False


Name           Zach
GPA            3.09
Credits          67
Graduating    False
Name: 2, dtype: object
(5, 4)
Index(['Name', 'GPA', 'Credits', 'Graduating'], dtype='object')
<bound method DataFrame.info of    Name   GPA  Credits  Graduating
0  Jack  2.06       60       False
1  Zack  3.27       66       False
2  Zach  3.09       67       False
3   Jax  4.00       68       False
4   Zak  2.12       69       False>

 Renamed table
  Students   GPA  Credits  Graduating
0     Jack  2.06       60       False
1     Zack  3.27       66       False
2     Zach  3.09       67       False
3      Jax  4.00       68       False
4      Zak  2.12       69       False

---
## üìé Side Notes
- A `Series` is like a single column of a spreadsheet.
- A `DataFrame` is like the full spreadsheet.
- Rows and columns can both have labels (called the **index** and **columns**).

Next stop: loading data from the real world. Brace yourself for CSVs.