<a href="https://colab.research.google.com/github/jtsui23-code/Jtsui23-code-DataScience-2025/blob/main/Completed/06-Working_with_Data_Adv/07-sorting_and_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ§® Sorting & Filtering in Pandas

## ðŸ”¹ LEARNING GOALS:
- Sort rows using `.sort_values()`
- Filter data using conditional logic
- Chain multiple filters together
- Use `.query()` for readable filtering

### ðŸ“¥ 1. Load the Dataset

Created my own data because could not find students.csv file

In [3]:
import pandas as pd

# df = pd.read_csv("../../data/students.csv")
student_data = {
    'first_name': [
        'Danielle', 'Angel', 'Joshua', 'Jeffrey', 'Jill',
        'Michael', 'Samantha', 'Brian', 'Olivia', 'Ethan',
        'Sophia', 'Ryan', 'Emma', 'David', 'Grace',
        'Lucas', 'Ava', 'Noah', 'Isabella', 'Mason',
        'Liam', 'Charlotte', 'Benjamin', 'Amelia', 'Elijah',
        'Harper', 'Alexander', 'Mia', 'James', 'Ella'
    ],
    'last_name': [
        'Wood', 'Clark', 'Adams', 'Zuniga', 'Wong',
        'Martinez', 'Taylor', 'Anderson', 'Nguyen', 'Hernandez',
        'Moore', 'King', 'Lopez', 'Scott', 'Green',
        'Turner', 'Hall', 'Allen', 'Baker', 'Nelson',
        'Carter', 'Mitchell', 'Perez', 'Roberts', 'Phillips',
        'Campbell', 'Evans', 'Parker', 'Murphy', 'Reed'
    ],
    'math_score': [
        100, 67, 61, 77, 75,
        89, 94, 72, 85, 91,
        68, 80, 97, 73, 84,
        90, 66, 79, 88, 92,
        76, 83, 95, 70, 87,
        64, 98, 82, 93, 71
    ],
    'science_score': [
        95, 78, 100, 99, 83,
        88, 91, 74, 92, 96,
        69, 85, 90, 81, 79,
        94, 72, 87, 89, 97,
        77, 86, 93, 75, 80,
        70, 99, 84, 98, 73
    ]
}

df = pd.DataFrame(student_data)

df.head()

  first_name last_name  math_score  science_score
0   Danielle      Wood         100             95
1      Angel     Clark          67             78
2     Joshua     Adams          61            100
3    Jeffrey    Zuniga          77             99
4       Jill      Wong          75             83

### ðŸ”¢ 2. Sorting Data

In [7]:
# Sort by math_score
df.sort_values(by="math_score")

   first_name  last_name  math_score  science_score
2      Joshua      Adams          61            100
25     Harper   Campbell          64             70
16        Ava       Hall          66             72
1       Angel      Clark          67             78
10     Sophia      Moore          68             69
23     Amelia    Roberts          70             75
29       Ella       Reed          71             73
7       Brian   Anderson          72             74
13      David      Scott          73             81
4        Jill       Wong          75             83
20       Liam     Carter          76             77
3     Jeffrey     Zuniga          77             99
17       Noah      Allen          79             87
11       Ryan       King          80             85
27        Mia     Parker          82             84
21  Charlotte   Mitchell          83             86
14      Grace      Green          84             79
8      Olivia     Nguyen          85             92
24     Elijah   Phillips          87             80
18   Isabella      Baker          88             89
5     Michael   Martinez          89             88
15      Lucas     Turner          90             94
9       Ethan  Hernandez          91             96
19      Mason     Nelson          92             97
28      James     Murphy          93             98
6    Samantha     Taylor          94             91
22   Benjamin      Perez          95             93
12       Emma      Lopez          97             90
26  Alexander      Evans          98             99
0    Danielle       Wood         100             95

In [8]:
# Sort by science_score descending
df.sort_values(by="science_score", ascending=False)

   first_name  last_name  math_score  science_score
2      Joshua      Adams          61            100
3     Jeffrey     Zuniga          77             99
26  Alexander      Evans          98             99
28      James     Murphy          93             98
19      Mason     Nelson          92             97
9       Ethan  Hernandez          91             96
0    Danielle       Wood         100             95
15      Lucas     Turner          90             94
22   Benjamin      Perez          95             93
8      Olivia     Nguyen          85             92
6    Samantha     Taylor          94             91
12       Emma      Lopez          97             90
18   Isabella      Baker          88             89
5     Michael   Martinez          89             88
17       Noah      Allen          79             87
21  Charlotte   Mitchell          83             86
11       Ryan       King          80             85
27        Mia     Parker          82             84
4        Jill       Wong          75             83
13      David      Scott          73             81
24     Elijah   Phillips          87             80
14      Grace      Green          84             79
1       Angel      Clark          67             78
20       Liam     Carter          76             77
23     Amelia    Roberts          70             75
7       Brian   Anderson          72             74
29       Ella       Reed          71             73
16        Ava       Hall          66             72
25     Harper   Campbell          64             70
10     Sophia      Moore          68             69

In [9]:
# Sort by multiple columns
df.sort_values(by=["science_score", "math_score"], ascending=[False, True])

   first_name  last_name  math_score  science_score
2      Joshua      Adams          61            100
3     Jeffrey     Zuniga          77             99
26  Alexander      Evans          98             99
28      James     Murphy          93             98
19      Mason     Nelson          92             97
9       Ethan  Hernandez          91             96
0    Danielle       Wood         100             95
15      Lucas     Turner          90             94
22   Benjamin      Perez          95             93
8      Olivia     Nguyen          85             92
6    Samantha     Taylor          94             91
12       Emma      Lopez          97             90
18   Isabella      Baker          88             89
5     Michael   Martinez          89             88
17       Noah      Allen          79             87
21  Charlotte   Mitchell          83             86
11       Ryan       King          80             85
27        Mia     Parker          82             84
4        Jill       Wong          75             83
13      David      Scott          73             81
24     Elijah   Phillips          87             80
14      Grace      Green          84             79
1       Angel      Clark          67             78
20       Liam     Carter          76             77
23     Amelia    Roberts          70             75
7       Brian   Anderson          72             74
29       Ella       Reed          71             73
16        Ava       Hall          66             72
25     Harper   Campbell          64             70
10     Sophia      Moore          68             69

### ðŸ§ª 3. Filtering with Conditions

In [10]:
# Who scored at least 90 in math?
df[df["math_score"] >= 90]

   first_name  last_name  math_score  science_score
0    Danielle       Wood         100             95
6    Samantha     Taylor          94             91
9       Ethan  Hernandez          91             96
12       Emma      Lopez          97             90
15      Lucas     Turner          90             94
19      Mason     Nelson          92             97
22   Benjamin      Perez          95             93
26  Alexander      Evans          98             99
28      James     Murphy          93             98

In [11]:
# Who scored less than 70 in either subject?
df[(df["math_score"] < 70) | (df["science_score"] < 70)]

   first_name last_name  math_score  science_score
1       Angel     Clark          67             78
2      Joshua     Adams          61            100
10     Sophia     Moore          68             69
16        Ava      Hall          66             72
25     Harper  Campbell          64             70

### ðŸ”— 4. Combining Filters

In [12]:
# Students with B+ or higher in both
df[(df["math_score"] >= 87) & (df["science_score"] >= 87)]

   first_name  last_name  math_score  science_score
0    Danielle       Wood         100             95
5     Michael   Martinez          89             88
6    Samantha     Taylor          94             91
9       Ethan  Hernandez          91             96
12       Emma      Lopez          97             90
15      Lucas     Turner          90             94
18   Isabella      Baker          88             89
19      Mason     Nelson          92             97
22   Benjamin      Perez          95             93
26  Alexander      Evans          98             99
28      James     Murphy          93             98

### ðŸ§¾ 5. Using `.query()` for Readability

In [13]:
# Same query using .query()
df.query("math_score >= 87 and science_score >= 87")

   first_name  last_name  math_score  science_score
0    Danielle       Wood         100             95
5     Michael   Martinez          89             88
6    Samantha     Taylor          94             91
9       Ethan  Hernandez          91             96
12       Emma      Lopez          97             90
15      Lucas     Turner          90             94
18   Isabella      Baker          88             89
19      Mason     Nelson          92             97
22   Benjamin      Perez          95             93
26  Alexander      Evans          98             99
28      James     Murphy          93             98

### ðŸ§ª Try It Yourself

- Sort the dataset by first name alphabetically
- Find students with the same math and science score
- Use `.query()` to find students who scored over 95 in *either* subject

In [14]:
df_alphabetically = df.sort_values(by="first_name")
print(df_alphabetically)

   first_name  last_name  math_score  science_score
26  Alexander      Evans          98             99
23     Amelia    Roberts          70             75
1       Angel      Clark          67             78
16        Ava       Hall          66             72
22   Benjamin      Perez          95             93
7       Brian   Anderson          72             74
21  Charlotte   Mitchell          83             86
0    Danielle       Wood         100             95
13      David      Scott          73             81
24     Elijah   Phillips          87             80
29       Ella       Reed          71             73
12       Emma      Lopez          97             90
9       Ethan  Hernandez          91             96
14      Grace      Green          84             79
25     Harper   Campbell          64             70
18   Isabella      Baker          88             89
28      James     Murphy          93             98
3     Jeffrey     Zuniga          77             99
4        Jill       Wong          75             83
2      Joshua      Adams          61            100
20       Liam     Carter          76             77
15      Lucas     Turner          90             94
19      Mason     Nelson          92             97
27        Mia     Parker          82             84
5     Michael   Martinez          89             88
17       Noah      Allen          79             87
8      Olivia     Nguyen          85             92
11       Ryan       King          80             85
6    Samantha     Taylor          94             91
10     Sophia      Moore          68             69

In [16]:
same_scores = df[df['math_score'] == df['science_score']]
print(same_scores)

Empty DataFrame
Columns: [first_name, last_name, math_score, science_score]
Index: []

In [17]:
high_score = df.query("math_score > 95 or science_score > 95")
print(high_score)

   first_name  last_name  math_score  science_score
0    Danielle       Wood         100             95
2      Joshua      Adams          61            100
3     Jeffrey     Zuniga          77             99
9       Ethan  Hernandez          91             96
12       Emma      Lopez          97             90
19      Mason     Nelson          92             97
26  Alexander      Evans          98             99
28      James     Murphy          93             98

### ðŸ§  Mini-Challenge

> Load `"data/survey.csv"` and:
- Sort by the most recent signup date
- Filter out anyone who didn't complete the survey (nulls or "N/A")
- Use `.query()` to select rows with a specific condition of your choice

In [18]:
survey_data = {
    'name': [
        'Alice', 'Bob', 'Catherine', 'David', 'Ella',
        'Frank', 'Grace', 'Henry', 'Isla', 'Jack',
        'Karen', 'Leo', 'Maya', 'Nathan', 'Olivia'
    ],
    'email': [
        'alice@mail.com', 'bob@mail.com', 'cat@mail.com', 'david@mail.com', 'ella@mail.com',
        'frank@mail.com', 'grace@mail.com', 'henry@mail.com', 'isla@mail.com', 'jack@mail.com',
        'karen@mail.com', 'leo@mail.com', 'maya@mail.com', 'nathan@mail.com', 'olivia@mail.com'
    ],
    'signup_date': [
        '2025-11-01', '2025-10-29', '2025-11-05', '2025-11-09', '2025-11-03',
        '2025-09-15', '2025-11-11', '2025-11-02', '2025-10-20', '2025-11-07',
        '2025-09-25', '2025-10-30', '2025-11-08', '2025-11-10', '2025-11-04'
    ],
    'survey_completed': [
        'Yes', 'N/A', 'Yes', None, 'Yes',
        'Yes', 'Yes', 'N/A', 'Yes', 'Yes',
        None, 'Yes', 'Yes', 'Yes', 'Yes'
    ],
    'rating': [5, 4, 3, 5, 4, 5, 4, 2, 3, 5, 3, 5, 4, 5, 4],
    'feedback': [
        'Great experience!', 'Okay', 'Average', 'Excellent', 'Good',
        'Very satisfied', 'Nice staff', 'Not great', 'Fine', 'Loved it',
        'Average', 'Perfect', 'Good overall', 'Awesome!', 'Smooth process'
    ]
}

survey_df = pd.DataFrame(survey_data)
print(survey_df)

         name            email signup_date survey_completed  rating  \
0       Alice   alice@mail.com  2025-11-01              Yes       5
1         Bob     bob@mail.com  2025-10-29              N/A       4
2   Catherine     cat@mail.com  2025-11-05              Yes       3
3       David   david@mail.com  2025-11-09             None       5
4        Ella    ella@mail.com  2025-11-03              Yes       4
5       Frank   frank@mail.com  2025-09-15              Yes       5
6       Grace   grace@mail.com  2025-11-11              Yes       4
7       Henry   henry@mail.com  2025-11-02              N/A       2
8        Isla    isla@mail.com  2025-10-20              Yes       3
9        Jack    jack@mail.com  2025-11-07              Yes       5
10      Karen   karen@mail.com  2025-09-25             None       3
11        Leo     leo@mail.com  2025-10-30              Yes       5
12       Maya    maya@mail.com  2025-11-08              Yes       4
13     Nathan  nathan@mail.com  2025-11-10              Yes       5
14     Olivia  olivia@mail.com  2025-11-04              Yes       4

             feedback
0   Great experience!
1                Okay
2             Average
3           Excellent
4                Good
5      Very satisfied
6          Nice staff
7           Not great
8                Fine
9            Loved it
10            Average
11            Perfect
12       Good overall
13           Awesome!
14     Smooth process

In [20]:
survey_df = survey_df.sort_values(by="signup_date", ascending=False)
print(survey_df)

         name            email signup_date survey_completed  rating  \
6       Grace   grace@mail.com  2025-11-11              Yes       4
13     Nathan  nathan@mail.com  2025-11-10              Yes       5
3       David   david@mail.com  2025-11-09             None       5
12       Maya    maya@mail.com  2025-11-08              Yes       4
9        Jack    jack@mail.com  2025-11-07              Yes       5
2   Catherine     cat@mail.com  2025-11-05              Yes       3
14     Olivia  olivia@mail.com  2025-11-04              Yes       4
4        Ella    ella@mail.com  2025-11-03              Yes       4
7       Henry   henry@mail.com  2025-11-02              N/A       2
0       Alice   alice@mail.com  2025-11-01              Yes       5
11        Leo     leo@mail.com  2025-10-30              Yes       5
1         Bob     bob@mail.com  2025-10-29              N/A       4
8        Isla    isla@mail.com  2025-10-20              Yes       3
10      Karen   karen@mail.com  2025-09-25             None       3
5       Frank   frank@mail.com  2025-09-15              Yes       5

             feedback
6          Nice staff
13           Awesome!
3           Excellent
12       Good overall
9            Loved it
2             Average
14     Smooth process
4                Good
7           Not great
0   Great experience!
11            Perfect
1                Okay
8                Fine
10            Average
5      Very satisfied

In [22]:
survey_df = survey_df[
    survey_df["survey_completed"].notna() &
    (survey_df["survey_completed"] != "N/A")
]

print(survey_df)

         name            email signup_date survey_completed  rating  \
6       Grace   grace@mail.com  2025-11-11              Yes       4
13     Nathan  nathan@mail.com  2025-11-10              Yes       5
12       Maya    maya@mail.com  2025-11-08              Yes       4
9        Jack    jack@mail.com  2025-11-07              Yes       5
2   Catherine     cat@mail.com  2025-11-05              Yes       3
14     Olivia  olivia@mail.com  2025-11-04              Yes       4
4        Ella    ella@mail.com  2025-11-03              Yes       4
0       Alice   alice@mail.com  2025-11-01              Yes       5
11        Leo     leo@mail.com  2025-10-30              Yes       5
8        Isla    isla@mail.com  2025-10-20              Yes       3
5       Frank   frank@mail.com  2025-09-15              Yes       5

             feedback
6          Nice staff
13           Awesome!
12       Good overall
9            Loved it
2             Average
14     Smooth process
4                Good
0   Great experience!
11            Perfect
8                Fine
5      Very satisfied

### ðŸ“ Summary

| Task              | Code Example                                 |
|-------------------|-----------------------------------------------|
| Sort by column     | `df.sort_values(by="col")`                  |
| Filter condition   | `df[df["col"] > value]`                     |
| Combine filters    | `df[(cond1) & (cond2)]`                     |
| Query method       | `df.query("col > value and col2 < value")`  |